.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
<<<<<<< HEAD
        cursor: pointer;
=======
>>>>>>> 0db5661fa31ddae3f44ac8b57281aada81172a29
      }
    }
  }
  