body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
<<<<<<< HEAD
}

* {
    box-sizing: border-box;
=======
>>>>>>> 0db5661fa31ddae3f44ac8b57281aada81172a29
}